{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performer Profile</title>
    <link rel="stylesheet" href="{% static 'css/performer_dashboard.css' %}">
</head>
<body>
    <header>
        <img src="{{ performer.profile_picture_url }}" alt="Profile Picture">
        <h1>{{ performer.name }}</h1>
        <!-- Navigation Menu -->
        <nav>
            <ul>
                <li><a href="{% url 'djapp:performer_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'djapp:performer_schedule' %}">Schedule</a></li>
                <li><a href="{% url 'djapp:music_library' %}">Music Library</a></li>
                <li><a href="{% url 'djapp:performer_profile' %}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <section id="profile">
        <h2>Profile Information</h2>
        <p>{{ performer.bio }}</p>
    </section>
    <footer>
        <p>© 2024 DJ Djamgo Club Management</p>
    </footer>
</body>
</html>
